\:root
  --theme-color: #{"{{ theme.theme_color }}"}
  --background-color: #{"{{ theme.background_color }}"}
  --text-color: #{"{{ theme.text_color }}"}
  --secondary-text-color: #{"{{ theme.secondary_text_color }}"}
  --accent-background-color: #{"{{ theme.accent_background_color }}"}

  --error-text-color: #FFFFFF
  --error-background-color: #9D0B1C

  --primary-font: #{"{{ theme.primary_font | font_family }}"}

$break-large: 1200px
$break-medium: 1023px
$break-small: 767px
$break-extra-small: 640px
