
.contact-form
  margin: 0 auto
  max-width: 960px

.contact-form-block
  margin: 0 auto 24px
  max-width: 660px
  width: 100%

  &.contact-recaptcha
    margin-bottom: 40px

.contact-label
  display: block
  margin-bottom: 8px

.input-holder
  position: relative

  input
    height: 64px

  textarea
    height: 250px

  input, textarea
    padding: 10px
    width: 100%

.contact-send

  @media screen and (max-width: $break-small)
    max-width: 100%
    text-align: center

    button
      width: 100%

.recaptcha-note
  color: var(--secondary-text-color)
  font-size: 15px
  margin-top: 10px

  a
    text-decoration: underline

.back-to-shop-button
  display: inline-block