@import 'variables'

.contact-success-message

.contact-success-text

.contact-form

.contact-form-block
  margin-bottom: 20px
  
  &.contact-captcha
    margin-bottom: 40px

.contact-label
  color: $secondary-text-color
  font-size: 12px
  margin-bottom: 20px

.input-holder
  position: relative
  
  input
    height: 75px
    
  input, textarea
    border-color: $secondary-text-color
    padding: 14px
    width: 100%
    
    &:focus, &:active
      border-color: $text-color

.contact-captcha

.contact-send

#captcha_image
  height: 67px
  position: absolute
  right: 4px
  top: 4px
  
.captcha-instructions
  color: $secondary-text-color
  font-size: 12px
  margin-top: 8px