<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.name }} | {{ store.name }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="{{ theme | theme_css_url }}" media="screen" rel="stylesheet" type="text/css">
    {{ head_content }}
  </head>
  <body id="{{ page.permalink }}" class="{{ page.category }}">
    <header class="header">
      <div class="header-content-block header-store-link">
        {% if theme.logo != blank %}
          <a class="store-link" href="/" title="{{ store.name | escape }}"><img alt="{{ store.name | escape }}" class="store-logo" src="{{ theme.images.logo.url | constrain: 400, 150 }}"></a>
        {% else %}
          <a class="store-link" href="/" title="{{ store.name | escape }}">{{ store.name }}</a>
        {% endif %}
      </div>
      <div class="header-content-block header-pages">
        <ul class="header-page-navigation">
          <li class="header-page-link"><a href="/products">{{ pages.products.name }}</a></li>
          {% for page in pages.all limit: theme.nav_items %}
            <li class="header-page-link">{{ page | link_to }}</li>
          {% endfor %}
          <li class="header-page-link"><a href="/contact">Contact</a></li>
        </ul>
      </div>
      <div class="header-content-block header-cart">
        <a class="cart-link" href="/cart">Cart / {{ cart.item_count | pluralize: "Item", "Items" }}</a>
      </div>
    </header>
    <div class="content">
      <div class="content-wrapper wrapper">

        {% if page.category == 'custom' %}
          <h1 class="page-title">{{ page.name }}</h1>
          <div class="page-content {{ page.category }}-content">
            {{ page_content | paragraphs }}
          </div>
        {% else %}
          {{ page_content }}
        {% endif %}
      </div>
    </div>
    <footer class="footer">
      <div class="footer-wrapper wrapper">
        <div class="footer-content-block footer-navigation footer-page-links">
          <ul class="footer-link-list">
            <li><a href="/products">{{ pages.products.name }}</a></li>
            {% for page in pages.all %}
              <li>{{ page | link_to }}</li>
            {% endfor %}
            <li><a href="/contact">Contact</a></li>
          </ul>
        </div>
        {% if theme.twitter_url != blank or theme.facebook_url != blank or theme.instagram_url != blank or theme.tumblr_url != blank or theme.pinterest_url != blank or store.website != blank %}
          <div class="footer-content-block footer-navigation footer-social-links">
            <ul class="footer-link-list">
              {% if theme.instagram_url != blank %}
                <li><a target="_blank" title="Instagram" href="{{ theme.instagram_url }}">Instagram</a></li>
              {% endif %}

              {% if theme.twitter_url != blank %}
                <li><a target="_blank" title="Twitter" href="{{ theme.twitter_url }}">Twitter</a></li>
              {% endif %}

              {% if theme.facebook_url != blank %}
                <li><a target="_blank" title="Facebook" href="{{ theme.facebook_url }}">Facebook</a></li>
              {% endif %}

              {% if theme.pinterest_url != blank %}
                <li><a target="_blank" title="Pinterest" href="{{ theme.pinterest_url }}">Pinterest</a></li>
              {% endif %}

              {% if theme.tumblr_url != blank %}
                <li><a target="_blank" title="Tumblr" href="{{ theme.tumblr_url }}">Tumblr</a></li>
              {% endif %}

              {% if store.website != blank %}
                <li><a href="{{ store.website }}">Back to site</a></li>
              {% endif %}
            </ul>
          </div>
        {% endif %}
        <div class="footer-content-block footer-credit">
          <div class="store-name">{{ store.name }}</div>
          {{ bigcartel_credit }}
        </div>
      </div>
    </footer>
    <div class="accent-background"></div>
    <div class="accent-background"></div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="{{ 'api' | theme_js_url }}"></script>
    <script src="{{ theme | theme_js_url }}"></script>
    {% if page.full_url contains '/product/' %}
      <script>
        var show_sold_out_product_options = '{{ theme.show_sold_out_product_options }}';
        Product.find('{{ product.permalink }}', processProduct)
      </script>
    {% endif %}
  </body>
</html>