<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.name }} | {{ store.name }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{ theme | theme_css_url }}" media="screen" rel="stylesheet" type="text/css">
    {{ head_content }}
  </head>
  <body id="{{ page.permalink }}" class="{{ page.category }}">
    <header class="header">
      <div class="header-content-block header-store-link">
        {% if theme.logo != blank %}
          <a class="store-link" href="/" title="{{ store.name | escape }}"><img alt="{{ store.name | escape }}" class="store-logo" src="{{ theme.images.logo.url | constrain: 400, 150 }}"></a>
        {% else %}
          <a class="store-link" href="/" title="{{ store.name | escape }}">{{ store.name }}</a>
        {% endif %}
      </div>
      <div class="header-content-block header-pages">
        <ul class="header-page-navigation">
          <li class="header-page-link"><a href="/products">{{ pages.products.name }}</a></li>
          {% for page in pages.all limit: theme.nav_items %}
            <li class="header-page-link">{{ page | link_to }}</li>
          {% endfor %}
          <li class="header-page-link"><a href="/contact">{{ pages.contact.name }}</a></li>
        </ul>
      </div>
      <div class="header-content-block header-cart">
        <a class="cart-link" href="/cart">Cart / {{ cart.item_count | pluralize: "Item", "Items" }}</a>
      </div>
    </header>
    <main class="content" id="main">
      <div class="content-wrapper wrapper">
        {% if page.category == 'custom' %}
          <div class="{{ page.category }}-content">
            <h1 class="page-title">{{ page.name }}</h1>
            <div class="page-content">
              {{ page_content | paragraphs }}
            </div>
          </div>
        {% else %}
          {{ page_content }}
        {% endif %}
      </div>
    </main>
    <footer class="footer">
      <div class="footer-wrapper wrapper">
        <div class="footer-content-block footer-navigation footer-page-links">
          <ul class="footer-link-list">
            <li><a href="/products">{{ pages.products.name }}</a></li>
            {% for page in pages.all %}
              <li>{{ page | link_to }}</li>
            {% endfor %}
            <li><a href="/contact">{{ pages.contact.name }}</a></li>
          </ul>
        </div>
        {% if theme.instagram_url != blank
          or theme.tiktok_url != blank
          or theme.twitter_url != blank
          or theme.snapchat_url != blank
          or theme.facebook_url != blank
          or theme.pinterest_url != blank
          or theme.youtube_url != blank
          or theme.tumblr_url != blank
          or theme.bandcamp_url != blank
          or store.website != blank %}
          <div class="footer-content-block footer-navigation footer-social-links">
            <ul class="footer-link-list">
              {% if theme.instagram_url != blank %}
                <li><a href="{{ theme.instagram_url }}">Instagram</a></li>
              {% endif %}

              {% if theme.tiktok_url != blank %}
                <li><a href="{{ theme.tiktok_url }}">TikTok</a></li>
              {% endif %}

              {% if theme.twitter_url != blank %}
                <li><a href="{{ theme.twitter_url }}">Twitter</a></li>
              {% endif %}

              {% if theme.snapchat_url != blank %}
                <li><a href="{{ theme.snapchat_url }}">Snapchat</a></li>
              {% endif %}

              {% if theme.facebook_url != blank %}
                <li><a href="{{ theme.facebook_url }}">Facebook</a></li>
              {% endif %}

              {% if theme.pinterest_url != blank %}
                <li><a href="{{ theme.pinterest_url }}">Pinterest</a></li>
              {% endif %}

              {% if theme.youtube_url != blank %}
                <li><a href="{{ theme.youtube_url }}">YouTube</a></li>
              {% endif %}

              {% if theme.tumblr_url != blank %}
                <li><a href="{{ theme.tumblr_url }}">Tumblr</a></li>
              {% endif %}

              {% if theme.bandcamp_url != blank %}
                <li><a href="{{ theme.bandcamp_url }}">Bandcamp</a></li>
              {% endif %}

              {% if store.website != blank %}
                <li><a href="{{ store.website }}">Back to site</a></li>
              {% endif %}
            </ul>
          </div>
        {% endif %}

        <div class="footer-content-block footer-credit">
          <div class="store-name">{{ store.name }}</div>
          {{ powered_by_big_cartel }}
        </div>
      </div>
    </footer>
    <div class="accent-background"></div>
    <div class="accent-background"></div>
    <script>
      const themeOptions = {
        showSoldOutOptions: {{ theme.show_sold_out_product_options }},
        desktopProductPageImages: '{{ theme.desktop_product_page_images }}',
        mobileProductPageImages: '{{ theme.mobile_product_page_images }}',
        productImageZoom: {{ theme.product_image_zoom }},
      }
      const themeColors = {
        headerTextColor: '{{ theme.header_text_color }}',
        primaryTextColor: '{{ theme.primary_text_color }}',
        backgroundColor: '{{ theme.background_color }}',
      }
    </script>
    {% if theme.announcement_message_text != blank %}
      <script>
        let hashCode=function(s){return s.split("").reduce(function(a,b){a=((a<<5)-a)+b.charCodeAt(0);return a&a;},0);}
        let announcementElement = document.querySelector(".announcement-message");
        let announcementText = document.querySelector(".announcement-message__text").innerHTML;
        let closeAnnouncementBtn = document.querySelector(".announcement-message__close-button");
        let hashedAnnouncement = hashCode(announcementText);

        function closeAnnouncement() {
          let announcementElement = document.querySelector(".announcement-message");
          announcementElement?.remove();
          document.cookie = `announcementClosed=${hashedAnnouncement};path=/`;
        }

        if (announcementElement?.classList && closeAnnouncementBtn && hashedAnnouncement) {
          let hasClosedAnnouncement = document.cookie.includes(`announcementClosed=${hashedAnnouncement}`);
          if (!hasClosedAnnouncement) {
            announcementElement.classList.add('visible');
          }
          closeAnnouncementBtn.addEventListener("click", closeAnnouncement);
        }
      </script>
    {% endif %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="{{ 'api' | theme_js_url }}"></script>
    <script>
      var formatMoney = Format.money;
      Format.money = function(number) {
        {% case theme.money_format %}
        {% when 'sign' %}
          return formatMoney(number, true, true, false);
        {% when 'code' %}
          return formatMoney(number, true, false, true);
        {% when 'sign_and_code' %}
          return formatMoney(number, true, true, true);
        {% endcase %}
      };
    </script>
    <script src="{{ theme | theme_js_url }}"></script>
    {% if page.full_url contains '/product/' %}
      <script async defer src="//assets.pinterest.com/js/pinit.js"></script>
      <script>
        Product.find('{{ product.permalink }}', processProduct)
      </script>
    {% endif %}
  </body>
</html>
